body {
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    background: url('bg.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
body.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.home-container {
    background: rgba(239, 183, 168, 0.45);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    text-align: center;
    width: 300px;
}


.home-container h1 {
    font-family: 'Fredoka One', sans-serif;
    background: linear-gradient(45deg, #f5c556, #f85252);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}




.home-container p {
    font-family: 'Fredoka One', sans-serif;
    color: #ffc800;  
    font-weight: 400;
}




.btn {
    padding: 12px 25px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}


.btn:hover {
    background: #444;
}


.menu-title {
    display: inline-block;          
    padding: 5px 15px;            
    background-color: #000000;    
    color: rgb(255, 255, 255);                  
    border-radius: 12px;            
    font-family: 'Fredoka One', sans-serif;
    font-size: 32px;
    margin-top: 30px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}


.menu-title:hover {
    background-color:  #4b4a4b;      
    transform: scale(1.05);        
    cursor: pointer;
}


.menu-container {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;
    gap: 20px;                
    padding: 20px;
    max-width: 1000px;        
    margin: 0 auto;            
}


.item-card {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 20px;
    width: 22%;
    text-align: center;      
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;            
    flex-direction: column;  
    align-items: center;      


    @media screen and (max-width: 1200px) {
        .item-card { width: 30%; }  
    }


    @media screen and (max-width: 900px) {
        .item-card { width: 45%; }  
    }


    @media screen and (max-width: 600px) {
        .item-card { width: 90%; }  
    }
}




.food-img {
    width: 100%;        
    height: 200px;      
    object-fit: cover;  
    border-radius: 15px;
    margin-bottom: 10px;
}






.add-btn {
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}


.cart-container {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}


.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}


.total-box {
    text-align: center;
    margin-top: 20px;
}


#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 60%;                  
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.6);  
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-family: 'Fredoka One', sans-serif;
    font-size: 28px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
    z-index: 1000;
    text-align: center;
    opacity: 0;
    transition: transform
}
